html, body{
  height: 100%;
  width: 100%;

  margin: 0px;
  padding: 0px;

  display: inline-block;
  font-family: 'Roboto', sans-serif;

  background-image: url(../bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: default;
}
.nav{
    position: fixed;
    display: flex;

    width: 100%;
    height:64px;
    justify-content: center;
    align-items: center;
}
.navLeft{
  position: relative;

  border-top:0px solid #000000;
  border-right:2px solid #000000;
  border-bottom:0px solid #000000;
  border-left:0px solid #000000;

  line-height: 2;
}
.navRight{
  position: relative;
}
.item{
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;

  padding:4px 16px 4px 16px;

  border:0 solid transparent;
  border-width: 0px 0px 2px 0px;

  transition: 0.5s ease;
}
.item:hover{
  border-color: white;
}
.navLogo{
  display:inline-block;
  position: relative;
  margin-top: 64px;
  margin-left: -111px;
}
.logo{
  height: 128px;
  width: 128px;
  z-index: 0
}









.primary{
  background-color: #937052;
  color: #292929;
}
.secondary{
  background-color: #824444;
  color: #a9a9a9;
}
.bg{
  background-color: #CA8471;
}
.bgsec{
  background-color: #F5F5F6;
}
