body{
  height:99%;
  background-image: url(bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: default;
}
.container{
  position: relative;
  display: flex;
  height:128px;
  width: 128px;


  overflow: hidden;

  align-content: center;

  top:50%;
  left:50%;
  transform: translate(-50%,-50%);

  animation: expand 1s .5s forwards;
}
.conLogo{
  height:128px;
  width:128px;
}
.conLogoImage{
  height:128px;
  width:128px;
}
.conName{
  display: flex;

  white-space: nowrap;

  height:128px;
  width:100%;
}
h1{
  height:36px;

  margin-top:40px;

  color:white;
}

@keyframes expand {
  0%{
    width:128px;
  }
  100%{
    width:360px;
  }
}
